$grey: #f4f4f4;
$blue: #0C84C8;

.product {
    padding: 2.5rem 0 4rem;

    .other-carousel__arrows  .arrow-left {
        margin-top: -.5rem;
    }

    .other-carousel__arrows  .arrow-right {
        margin-top: -.5rem;
    }

    .owl-dots {
        justify-content: center;
        align-items: center;
        
        .owl-dot {
            width: 0.4rem;
            height: 0.4rem;
            border-radius: 50%;
            background: $blue;
            margin: 0 0.15rem;

            &.active {
                background: rgba(12, 132, 200, 0.3);
            }
        }
    }

    &-card {
        padding: 2.5rem 0 2.5rem 2.5rem;
        background: $grey;
        border-radius: .25rem;
        margin-bottom: 2.5rem;

        .offer {
            margin-top: 0;
            padding-bottom: 1.5rem;
        }

        .cards-single__img {
            width: 24rem;
            overflow: hidden;

            img {
                width: 150%;
                max-width: none;
            }
        }

    }

    &-info {
        padding: 2.5rem;
        background: $grey;
        border-radius: .25rem;
        margin-bottom: 5rem;

        &__btns {
            display: flex;
            margin-bottom: 1rem;
        }

        &__btn {
            width: 12rem;
            height: 2.8rem;
            transition: .3s all;
            background: transparent;
            color: $blue;
            border: 1px solid $blue;
            cursor: pointer;

            &:hover {
                background: #00B807;
                color: #fff;
                border-color: #00B807;
            }

            &:first-child {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }

            &:last-child {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }

            &.current {
                background: $blue;
                color: #fff;

                &:hover {
                    background: #00B807;
                    color: #fff;
                    border-color: #00B807;
                }
            }
        }

        &__tab {
            display: none;

            &.current {
                display: block;
            }
        }

        &__list {
            li {
                padding: 1.5rem 0;
                border-bottom: 1px solid rgba(196, 196, 196, 0.5);
                display: flex;

                &:last-child {
                    border-bottom: none;
                    padding-bottom: 0;
                }

                div {
                    &:nth-child(1) {
                        font-size: 1rem;
                        font-weight: 600;
                        width: 14rem;
                        margin-right: 1rem;
                        color: #000;
                        flex-shrink: 0;
                    }
                }
            }
        }

        &__text {
            padding: 1.5rem 0;
            font-size: 0.9rem;
            line-height: 167%;
        }
    }

    &-steps {
        position: relative;
        margin-bottom: 5rem;

        &::before {
            width: 70%;
            height: 1px;
            background: rgba(196, 196, 196, 0.5);
            position: absolute;
            left: 15%;
            top: 7.8rem;
            content: '';
            z-index: -1;
        }

        &__wrap {
            display: flex;
            justify-content: space-between;
        }

        &__item {
            width: 16rem;
            text-align: center;
        }

        &__number {
            width: 4rem;
            height: 4rem;
            border: .5rem solid #fff;
            background: #333;
            color: #fff;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            font-size: 1.5rem;
            line-height: 100%;
            border-radius: 50%;
            margin-bottom: 0.5rem;
        }

        &__title {
            font-size: 1rem;
            line-height: 1rem;
            font-weight: 500;
            margin-bottom: 0.5rem;
        }

        &__text {
            color: #979797;
            max-width: 13rem;
            font-size: 0.8rem;
            line-height: 150%;
            margin: 0 auto .5rem;
        }

        &__link {
            color: $blue;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            font-size: 0.7rem;

            svg {
                width: .5rem;
                margin-left: 0.3rem;
            }

            &:hover {
                color: #00B807;
                
                svg path {
                    fill: #00B807;
                }
            }
        }
    }

    &-calc {
        margin-bottom: 5rem;

        .calc-tab__btn {
            width: 15.3rem;
            height: 2.8rem;
            background: transparent;
            border: 1px solid $blue;
            color: $blue;
            margin-top: 1rem;

            &:hover {
                background: $blue;
                color: #fff;
            }
        }

        .calc-right__item div {
            color: $blue;
        }

        .calc-right__text {
            margin: 1.5rem 0;
        }

        .calc-right__wrap {
            margin-top: 0.7rem;
        }
    }

    &-advantages {
        margin-bottom: 3rem;
        position: relative;


        .owl-stage {
            display: flex;
            align-items: stretch;
        }

        &__item {
            padding: 1rem 2.5rem 2.5rem;
            background: $grey;
            border-radius: .25rem;
            text-align: center;
            height: 100%;
        }

        &__img {
            margin: 0 auto 1.15rem;
            width: 9.5rem;
            height: 9.5rem;

            img {
                height: 100%;
                width: 100%;
                display: block;
                object-fit: contain;
            }
        }

        &__title {
            font-size: 1.2rem;
            font-weight: 700;
            margin-bottom: 0.75rem;
        }

        &__text {
            font-size: 0.9rem;
            line-height: 167%;
            color: #979797;
        }
    }

    &-docs {
        margin-bottom: 3.5rem;

        &__wrap {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        &__item {
            width: 23rem;
            display: flex;
            align-items: center;
            color: #979797;
            margin-bottom: 1.5rem;

            &:hover {
                color: #333;
            }

            img {
                width: 2.35rem;
                margin-right: 1rem;
            }
        }
    }

    &-reviews {
        margin-bottom: 4rem;
        position: relative;

        &__item {
            padding: 1.1rem;
            transition: .3s all;
            border: 1px solid transparent;
            border-radius: .25rem;

            &:hover {
                box-shadow: 0px .7rem 1rem rgba(48, 48, 48, 0.04);
                border-color: rgba(196, 196, 196, 0.5);
            }
        }

        .other-carousel__arrows  .arrow-left {
            margin-top: -1.5rem;
        }
    
        .other-carousel__arrows  .arrow-right {
            margin-top: -1.5rem;
        }

        &__head {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
        }

        &__photo {
            width: 3rem;
            height: 3rem;
            margin-bottom: 0.6rem;

            img {
                width: 100%;
                height: 100%;
                display: block;
                object-fit: cover;
            }
        }

        &__name {
            font-weight: 500;
            font-size: 1rem;
            line-height: 1rem;
            margin-bottom: 0.6rem;
        }

        &__mark {
            svg {
                width: 6.5rem;
            }
        }

        &__text {
            font-size: 0.8rem;
            line-height: 1.2rem;
            height: 6rem;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-box-orient: vertical;
            display: -webkit-box;
            -webkit-line-clamp: 5;
        }

        .owl-carousel .owl-dots {
            display: flex;
            transform: translateY(-1.5rem);
        }
    }

    &-faq {
        padding: 2.5rem;
        background: $grey;
        border-radius: .25rem;
        margin-bottom: 5rem;

        &__item {
            padding: 1rem 0;
            border-bottom: 1px solid rgba(196, 196, 196, 0.5);
            cursor: pointer;
            font-size: 0.9rem;
            line-height: 167%;
            user-select: none;

            &.active {
                .product-faq__quest::after {
                    transform: translateY(-50%) rotate(180deg);
                }
            }
        }

        &__quest {
            color: #000;
            position: relative;

            &::after {
                position: absolute;
                right: 0;
                top: 50%;
                content: '';
                transform: translateY(-50%);
                background: url(../img/chevron-down.svg) center center no-repeat;
                background-size: contain;
                width: 0.7rem;
                height: 0.7rem;
                transition: .2s all;
            }

        }

        &__answer {
            padding: 1rem 0;
            color: #979797;
            display: none;

            ul {
                padding-left: 1rem;
                
                li {
                    display: list-item;
                    list-style-type: disc;
                }
            }
        }

    }

    &-cert {
        .owl-dots {
            display: flex;
            transform: translateY(-1.5rem);
        }

        .owl-stage-outer {
            padding: 0 1.2rem 3rem;
			margin: 0 -1.2rem;
        }

        &__item {
            cursor: pointer;
            transition: .5s all;
            
            &:hover {
                box-shadow: 0px .7rem 1rem rgba(48, 48, 48, 0.05);
            }
        }

        &__zoom {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(12, 132, 200, .6);
            z-index: 99;
            display: none;
        }

        &__close {
            position: absolute;
            top: 3rem;
            right: 5rem;
            cursor: pointer;

            svg {
                width: 1.5rem;
            }
        }

        &__big {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 80vh;
            max-width: 70vw;
            object-fit: contain;
        }
    }
}

@media (max-width: 1250px) {
    .product {

        .other-carousel__arrows  .arrow-left {
            left: -3rem;
            margin-top: 2rem;
        }
    
        .other-carousel__arrows  .arrow-right {
            right: -3rem;
            margin-top: 2rem;
        }
    }
}

@media (max-width: 1050px) {
    .product {
        .other-carousel__arrows  .arrow-left {
            display: none;
        }
    
        .other-carousel__arrows  .arrow-right {
            display: none;
        }
    }
}


@media (max-width: 992px) {
    .product {
        .other-carousel__arrows  .arrow-left {
            display: inline-flex;
        }
    
        .other-carousel__arrows  .arrow-right {
            display: inline-flex;
        }

        &-card {
            .cards-single__wrap {
               display: block;
            }

            .cards-single__img {
                margin-top: -5rem;
                width: 65%;
                margin-left: 35%;
            }
        }

        &-steps::before {
            top: 6.6rem;
        }
    }
}

@media (max-width: 767.98px) {
    .product {
        padding-bottom: 1rem;

        .other-carousel__arrows  .arrow-left {
            left: -1rem;
        }
    
        .other-carousel__arrows  .arrow-right {
            right: -1rem;
        }

        &-card {
            padding: 4rem 1.5rem 1.5rem;
            position: relative;

            .offer {
                position: absolute;
                top: -2.5rem;
                z-index: 5;
            }

            .cards-single {
                &__wrap {
                    display: flex;
                    flex-direction: column-reverse;
                }

                &__img {
                    position: static;
                    margin-top: 0;
                    z-index: 1;
                    width: 100%;
                    margin-left: 0;
                    margin-bottom: 1.5rem;

                    img {
                        width: 100%;
                    }
                }
            }
        }

        &-calc {
            margin-bottom: 3rem;
        }

        &-info {
            padding: 1.5rem;
            margin-bottom: 2.5rem;

            &__btn {
                width: 50%;
            }

            &__list {
                li {
                    display: block;

                    div {

                        &:nth-child(1) {
                            width: 100%;
                            padding-right: 0;
                            margin-right: 0;
                            margin-bottom: .5rem;
                        }
                    }
                }
            }
        }

        &-advantages {
            margin-bottom: 0;
        }

        &-reviews {
            margin-bottom: 1rem;
        }

        &-steps {
            margin-bottom: 2.5rem;

            &::before {
                content: none;
            }

            &__wrap {
                flex-direction: column;
            }

            &__item {
                width: 100%;
                margin-bottom: 1rem;
            }
        }

        &-faq {
            padding: 1.5rem;
            margin-bottom: 3rem;

            &__quest {
                padding-right: 2rem;
            }
        }

        &-cert {
            &__close {
                right: 1rem;
            }

            &__big {
                max-width: 90vw;
            }
        }

        
    }


}